<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Журнал учёта движения товаров", "Index", "GoodsMovements")</h2>
        <p> Просмотр приходов, расходов и остатков товаров на каждом складе. </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Справочник товаров", "Index", "Goods")</h2>
        <p>Просмотр списка товаров и изменение закупочных и продажных цен.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Журнал уведомлений оборотов", "Index", "TurnoverNotices")</h2>
        <p>Просмотр уведомлений оборотов для всех складов за всё время.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Сличительная ведомость результатов инвентаризации", "Index", "InventoryResults")</h2>
        <p>Просмотр расхождений между фактическим количеством товаров и учтённым, изменение остатка товаров на складе.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Справочник складов", "Index", "Warehouses")</h2>
        <p>Просмотр, редактирование, удаление и добавление складов и учётных записей для них.</p>
    </div>
</div>
